.skinPanel{
	background: url("./src/images/templatemo_banner.png");
    box-sizing: border-box;
    border: 2px solid black;
    float: right;
    margin: 0 5%;
    position: relative;
    height: calc(100vh - 16px);
    width: 25%;
}

.panelLogo {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border-bottom: 2px solid black;
}

.skinSelect {
    border: none;
    width: 100%;
    margin-top: 2vh;
}

.skinSelect input[type="radio"] {
	visibility: hidden;
}



.skinSelect > label {
    display: inline-block;
	border: 1px solid #333;
	border-radius: 0.5em;
	padding: 0.4em 0.3em;
	width: 4.5em;
	text-align: center;
	font-weight: bold;
	font-size: 1rem;
    line-height: 100%;  
}

.skinSelect input:checked + label {
	background: #ebf5d7;
	color: #5a9900;
	box-shadow: none;
}

.gameboxTitle {
    display: block;
    position: inherit;
    width: 100%;
    margin: 2em;
    box-sizing: border-box;  
}

.colors {
	display: block;
	float: left;
}

.input {
	float: left;
}

.colors > button{
	display: block;
	float: left;
}

.select {
    display: block;
    margin: 1em;
}

.actions {
    position: absolute;
    bottom: 0px;
    left: 20%;
    box-sizing: border-box;
    margin: 0.1em;
}

.range > input {
    cursor: pointer;
}

/* Teste Button*/

 
.switch-field {
	display: flex;
    margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 24px;
	width: 24px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}


